html{
    scroll-behavior: smooth;
    
    // margin: 0;
}

* {
    cursor: none;
    box-sizing: border-box;

}
body{
    background: rgb(26, 26, 26);
    // cursor: none;
    color: white;    
    height: 100vh;
    margin: 0;
    font-family: "Nunito";
    font-size: 2em;

}
section{
    padding: 8em;
    height: 100vh;

}
section:nth-of-type(2){
    background: rgb(0, 40, 66);
}
#custom {
    width: 500px;
    height: 500px;
}
.inner-cursor{
    position: fixed;
    left: 10px;
    width: 8px;
    height: 8px;

    
    border-radius: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(219, 219, 219);
    mix-blend-mode: difference;
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
    
}
.inner-cursor.grow {
    width: 100px;
    height: 100px;
    transition: width 0.5s, height 0.5s;
}

.outer-cursor{
    position: fixed;
    left: 10px;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(235, 235, 235);
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: 80ms;
    
    

}